public net.minecraft.client.gui.Gui healthUpdateCounter

public-f net.minecraft.world.entity.Entity entityData

public net.minecraft.server.level.ServerLevel allPlayersSleeping

public net.minecraft.world.entity.LivingEntity checkTotemDeathProtection(Lnet/minecraft/world/damagesource/DamageSource;)Z
public net.minecraft.world.entity.LivingEntity DATA_HEALTH_ID

public net.minecraft.world.entity.player.Player DATA_PLAYER_ABSORPTION_ID

public net.minecraft.network.syncher.SynchedEntityData setEntryValue
public net.minecraft.network.syncher.SynchedEntityData getEntry
public net.minecraft.network.syncher.SynchedEntityData itemsById
public net.minecraft.network.syncher.SynchedEntityData <init>(Lnet/minecraft/network/syncher/SyncedDataHolder;[Lnet/minecraft/network/syncher/SynchedEntityData$DataItem;)V

# For FirstaidIngameGui
public net.minecraft.client.gui.Gui healthBlinkTime
public net.minecraft.client.gui.Gui tickCount
public net.minecraft.client.gui.Gui lastHealth
public net.minecraft.client.gui.Gui lastHealthTime
public net.minecraft.client.gui.Gui displayHealth
public net.minecraft.client.gui.Gui random

# For EventHandler invulnerability check
public net.minecraft.world.entity.LivingEntity lastHurt